body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  background: #f9f7fe;
}

h1 {
  color: #fff;
  font-size: 34px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
  float: left;
  font-family: "Send Flowers", cursive;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  list-style: none;
  font-size: 16px;
  line-height: 12px;
  padding-top: 6px;
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border-radius: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
}

.overview {
  margin: 20px 0 10px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 5px;
}

.row .overview {
  background-color: #885df1;
  padding: 10px 10px;
  border-radius: 3px;
  max-width: 100%;
}

.current-time {
  font-size: 18px;
  display: inline-block;
  padding-left: 5px;
  padding-top: 3px;
  font-family: "Send Flowers", cursive;
}

.weather-temperature {
  margin: 20px 0;
  border-right: 1px solid blue;
}

.weather-temperature img {
  height: 100px;
  margin-top: unset;
  vertical-align: top;
  width: 100px;
  float: left;
  position: relative;
  bottom: 23px;
  right: 10px;
}

.temperature {
  color: #202124;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
}

.temperature strong {
  color: rgb(32, 33, 36);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  position: relative;
}

.temperature .units {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  top: -25px;
  left: -10px;
  font-weight: 400;
}

.forecast {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin: 10px 0px;
  background: #f9f7fe;
  border-radius: 5px;
  padding: 10px 0;
}

.forecast-time {
  font-weight: 400;
}

.temp-high {
  font-weight: 700;
}

.forecast img {
  width: 48px;
}

.weather-details {
  padding-top: 30px;
}

.col-8 {
  flex: 0 0 75%;
  max-width: 63%;
  padding: 0 10px 0 15px;
}

.col-2 {
  padding: 0;
  margin: 0;
  max-width: 23%;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 6px 10px 6px 10px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.btn-success {
  margin: 0 0 0 5px;
}

.description {
  text-transform: capitalize;
}

.temperature a {
  text-decoration: none;
}

.temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temperature .active:hover {
  text-decoration: none;
}

.fa-location-arrow {
  color: #f9f7fe;
  padding: 10px;
  border: 1px solid #885df1;
  border-radius: 10px;
  background-color: #885df1;
  display: inline;
}

.fa-location-arrow:hover {
  color: #885df1;
  border: 1px solid #885df1;
  border-radius: 10px;
  background-color: #f9f7fe;
}

.fa-search {
  color: #f9f7fe;
  padding: 10px;
  border: 1px solid #885df1;
  border-radius: 10px;
  background-color: #885df1;
  position: relative;
  top: -9px;
  display: inline;
  position: relative;
  top: -3px;
}

.fa-search:hover {
  color: #885df1;
  border: 1px solid #885df1;
  border-radius: 10px;
  background-color: #f9f7fe;
}

.btn {
  display: inline;
  padding: 3px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

li i {
  padding: 5px;
  color: #885df1;
}

.weather-details li {
  display: inline;
}
