body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  color: #70757a;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  list-style: none;
  font-size: 16px;
  line-height: 10px;
  padding-top: 6px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 15px;
}

.weather-temperature {
  margin-bottom: 10px;
}

.weather-temperature img {
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
  float: left;
}

.temperature {
  color: #202124;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
}

.temperature strong {
  color: rgb(32, 33, 36);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.temperature .units {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  top: -25px;
  left: -10px;
}

.weather-forecast {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin: 0 auto;
  padding-bottom: 50px;
}
